<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=5.0" />
    <title>@ViewData["Title"] - WebApplicationMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplicationMVC.styles.css" asp-append-version="true" />
</head>
<body>

    @{
        bool isConnectionOk = (bool)(ViewBag.ConnectionInfo["isConnectionOk"] ?? false);
    }

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebApplicationMVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Departement">Départements</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="filiere">Les Filières</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Classe" asp-action="index">Classes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li> 
                    </ul>

                    <span class="badge fs-6 @(isConnectionOk ? "bg-success" : "bg-danger")">
                        
                        @if (isConnectionOk)
                        {
                            <text>
                                Connecté(e) à la BD
                            </text>
                        }
                        else
                        {
                            <text>
                                Non connecté(e) à la BD
                            </text>
                        }                        
                    </span>
                </div>
                
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">

            <!-- Modal Connection DB-->
            <div class="modal text-center" tabindex="-1" id="myModal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body fw-medium fs-5">
                            @ViewBag.ConnectionInfo["messageConnection"]
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btnCloseModal" class="btn @(isConnectionOk ? "btn-success" : "btn-danger")" data-bs-dismiss="modal">
                                @if (isConnectionOk)
                                {
                                    <text>Super 😁</text>
                                }
                                else
                                {
                                    <text>Aïe 😬</text>
                                }
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Suppression -->
            @if (!string.IsNullOrEmpty(ViewBag.SuppressionMessage))
            {
                <div class="modal" id="suppressionModal" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body fw-medium fs-5">
                                @ViewBag.SuppressionMessage
                            </div>
                            <div class="modal-footer">
                                <button id="fermerModalSuppression" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
            }


            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - WebApplicationMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        let isModalShowed = sessionStorage.getItem('isModalShowed') === 'true';

        const myModal = document.getElementById('myModal')
       
        if (myModal != null) {
           const connectionDBModal = new bootstrap.Modal(document.getElementById('myModal'));

            if (!isModalShowed) {
                connectionDBModal.show();
                sessionStorage.setItem('isModalShowed', 'true');
            }
        }  
    </script>

    <script>
        if ('@ViewBag.SuppressionMessage' !== '') {
            // Affichez le modal de suppression de la classe
            var testModal = new bootstrap.Modal(document.getElementById('suppressionModal'));
            testModal.show();

            // Ajoutez un événement de clic au bouton "Fermer"
            document.getElementById('fermerModalSuppression').addEventListener('click', function () {
                // Redirigez vers l'action "Index" du contrôleur "Classe"
                window.location.href = '@Url.Action("Index", "Classe")';
            });
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
