<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UFR SET </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplicationMVC.styles.css" asp-append-version="true" />
</head>
<body>

    @{
        bool isConnectionOk = (bool)(ViewBag.ConnectionInfo["isConnectionOk"] ?? false);
    }

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">UFR SET</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Departement">Départements</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="filiere">Les Filières</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Service" asp-action="index">Services</a>
                        </li>
                        <li class="ms-2 nav-item d-flex align-items-center">
                            <div class="dropdown">
                                <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Ajouter
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="btn dropdown-item" id="addServiceModalBtn">Ajouter Service</a></li>
                                    <li><a class="btn dropdown-item" id="addDepartementModalBtn">Ajouter Département</a></li>
                                    <li><a class="btn dropdown-item" id="addFiliereModalBtn">Ajouter Filière</a></li>
                                    <li><a class="btn dropdown-item" id="addPerModalBtn">Ajouter PER</a></li>
                                    <li><a class="btn dropdown-item" id="addVacataireModalBtn">Ajouter Vacataire</a></li>
                                </ul>
                            </div>
                        </li> 
                    </ul>

                    <span class="badge fs-6 @(isConnectionOk ? "bg-success" : "bg-danger")">
                        
                        @if (isConnectionOk)
                        {
                            <text>
                                Connecté(e) à la BD
                            </text>
                        }
                        else
                        {
                            <text>
                                Non connecté(e) à la BD
                            </text>
                        }                        
                    </span>
                </div>
                
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">

            <!-- Modal Connection DB-->
            <div class="modal fade text-center" tabindex="-1" id="connectionDBModal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body fw-medium fs-5">
                            @ViewBag.ConnectionInfo["messageConnection"]
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btnCloseModal" class="btn @(isConnectionOk ? "btn-success" : "btn-danger")" data-bs-dismiss="modal">
                                @if (isConnectionOk)
                                {
                                    <text>Super 😁</text>
                                }
                                else
                                {
                                    <text>Aïe 😬</text>
                                }
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Début Modal Ajout Service -->
            <div class="modal fade" id="addServiceModal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="addServiceModalLabel">Ajouter un service</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="addServiceForm" asp-controller="Service" asp-action="Ajout" method="post">
                                <div class="mb-3">
                                    <label for="nom" class="col-form-label">Nom du service :</label>
                                    <input type="text" class="form-control" id="nom" name="nom" required>
                                </div>
                                <div class="mb-3">
                                    <label for="description" class="col-form-label">Description du service :</label>
                                    <textarea class="form-control" id="description" name="description" rows="4" required></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer le modal</button>
                            <button type="submit" form="addServiceForm" class="btn btn-primary">Ajouter le service</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin Modal Ajout Service -->

            <!-- Modal Information après avoir effectué une action -->
            @if (!string.IsNullOrEmpty(ViewBag.modalMessage))
            {
                <div class="modal text-center" id="informationModal" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body fw-medium fs-5">
                                @ViewBag.modalMessage
                            </div>
                            <div class="modal-footer">
                                <button id="fermerModalInformation" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
            }


            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer fs-6" style="
            position: absolute;
            color: #2e4b6e;
            width: 100%;
            padding: 10px;
            bottom: 0;">
        <div class="container">
            &copy; 2024 - UFR SET || built with ❤️ by 
            <a href="https://www.linkedin.com/in/aliounebfam" target="_blank" title="Compte Linkedin Alioune Badara FAM">
                <span class="d-inline-flex align-items-center">
                Alioune Badara FAM (ABF)
                <svg width="17" height="17" fill="none" stroke="#2e4b6e" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" viewBox="0 0 24 24">
                    <path d="M11 7H6a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2v-5"></path>
                    <path d="M10 14 20 4"></path>
                    <path d="M15 4h5v5"></path>
                </svg>
                </span>
            </a>
            
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        let isModalShowed = sessionStorage.getItem('isModalShowed') === 'true';
       
        if (document.getElementById('connectionDBModal') != null) {
            const connectionDBModal = new bootstrap.Modal("#connectionDBModal");

            if (!isModalShowed) {
                connectionDBModal.show();
                sessionStorage.setItem('isModalShowed', 'true');
            }
        }  
    </script>

    <script>
        if ('@ViewBag.modalMessage' !== '') {
            // Affichage du modal d'information après une action
            const informationModalDom = document.getElementById('informationModal');
            const informationModal = new bootstrap.Modal(informationModalDom);
            informationModal.show();

            // Ajoutez un événement de clic au bouton "fermerModalInformation"
            informationModalDom.addEventListener('hidden.bs.modal', function (event) {

                const redirectController = window.location.pathname.split('/')[0] || "Service";
                window.location.href = '@Url.Action("Index", "")' + redirectController;
            });
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
