@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<WebApplicationMVC.Models.ClasseModel>
@{
    ViewData["Title"] = "Classe";
}
<h1></h1>

<h2>Liste des @ViewData["Title"]s</h2>

<table class="table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Libellé</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var classe in Model)
        {
            <tr>
                <td>@classe.code</td>
                <td>@classe.libelle</td>
                <td>@classe.description</td>
                <td>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-info">Détails</button>
                        <button type="button" class="btn btn-warning">Modifier</button>
                        <a href="@Url.Action("Delete", new { code = classe.code })" class="btn btn-danger">Supprimer</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>